.flipbook-container {
  display: flex;
  flex-direction: column;
  object-fit: fill;
  margin-top: 0px;
  overflow: auto;
  scrollbar-width: none;
  border:  10px;
  border-color: gray;
}

.flipbook-container::-webkit-scrollbar {
  display: none;
}

.flipbook-container:active {
  cursor: grabbing;
}

.flipbook {
  height: 99vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.controls {
  position: static;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.left {
  background-color: white;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 50%;
  z-index: 1;
}

.right {
  background-color: white;
  left: 50%;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.page-back-current {
  transform: rotateY(3.142rad);
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  right: 50%;
  transform: preserve-3d;
  pointer-events: none;
  user-select: none;
}

.flippingNext {
  transform-origin: left;
  animation: pageFlip 0.2s ease-in-out forwards;
}

.flippingPrev {
  transform-origin: right;
  animation: pageFlipBack 0.2s ease-in-out forwards;
}

@keyframes pageFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    z-index: 2;
    transform: rotateY(-90deg);
  }
  100% {
    z-index: 2;
    transform: rotateY(-180deg);
  }
}

@keyframes pageFlipBack {
  0% {
    transform: rotateY(0);
  }
  50% {
    z-index: 2;
    transform: rotateY(90deg);
  }
  100% {
    z-index: 2;
    transform: rotateY(180deg);
  }
}

.hidden {
  display: none;
}

.sidebar {
  background-color: #f8f9fa;
  width: 150px;
  overflow-y: scroll;
  height: 100vh;
  transition: width 0.5s ease;
}

.thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
  justify-items: center;
}

.thumbnail.active {
  border-color: gray;
}

.thumbnail img {
  width: 80%;
  display: block;
  border-radius: 4px;
}

.closed {
  width: 0;
   scrollbar-width: none;
   padding: 0;
}

button:disabled {
  color: #dfdede !important;
  cursor: not-allowed;
  opacity: 1;
}



