<div class="d-flex h-100">
  <div class="sidebar border-end" [class.closed]="sidebarOpen">
    @for (page of pages; track page; let idx = $index) {
    <div
      class="thumbnail m-2"
      [class.active]="idx === selectedPageIndex"
      (click)="goToPage(idx)"
    >
      <img [src]="pages[idx]" [alt]="'Page ' + (idx + 1)" class="img-fluid" />
      <p class="text-center">{{ idx + 1 }}</p>
    </div>
    }
  </div>

  <div class="flex-grow-1 position-relative p-2">
    <div class="position-absolute">
      <button class="btn btn-light" (click)="toggleSideBar()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <button class="btn btn-light" (click)="downloadPdf()">
        <i class="fa-solid fa-download"></i>
      </button>
    </div>
    <div class="controls d-flex align-items-center justify-content-center">

        <button type="button" class="btn btn-light me-1" (click)="prev()">
          <i class="fa-solid fa-angle-left"></i>
        </button>


      <div class="position-relative w-100">
        <div
          class="flipbook-container border"
          #flipbookContainer
          (mousedown)="startDrag($event)"
          (mousemove)="onDrag($event)"
        >
          <div
            class="flipbook"
            [style.transform]="
              'scale(' +
              zoomLevel +
              ') translate(' +
              offsetX +
              'px,' +
              offsetY +
              'px)'
            "
            [style.transformOrigin]="'center center'"
          >
            <div
              class="page left perv"
              [class.hidden]="!pages[displayPageIndex - 3]"
            >
              @if(pages[displayPageIndex - 3]){
              <img
                class="prev"
                [src]="pages[displayPageIndex - 3]"
                alt="Left Page"
              />}
            </div>
            <div
              class="page left current"
              [class.flippingPrev]="isFlippingPrev"
              [class.hidden]="
                !(pages[displayPageIndex - 1] || pages[displayPageIndex - 2])
              "
            >
              @if(!isFlippingPrevHalf){<img
                class="page-current"
                [src]="pages[displayPageIndex - 1]"
                alt="Left Page"
              />} @if(isFlippingPrevHalf){
              <img
                class="page-back-current"
                [src]="pages[displayPageIndex - 2]"
                alt="Left Back Page"
              />}
            </div>
            <div
              class="page right next"
              [class.hidden]="!pages[displayPageIndex + 2]"
            >
              @if(pages[displayPageIndex + 2]){
              <img
                class="next"
                [src]="pages[displayPageIndex + 2]"
                alt="Right Page"
              />}
            </div>
            <div
              class="page right current"
              [class.flippingNext]="isFlippingNext"
              [class.hidden]="
                !(pages[displayPageIndex] || pages[displayPageIndex + 1])
              "
            >
              @if(!isFlippingNextHalf){
              <img
                class="page-current"
                [src]="pages[displayPageIndex]"
                alt="Right Page"
              />} @if(isFlippingNextHalf){
              <img
                class="page-back-current"
                [src]="pages[displayPageIndex + 1]"
                alt="Right Back Page"
              />}
            </div>
          </div>
        </div>
        <div class="controls">
          <button (click)="zoomIn()" class="btn btn-light" type="button">
            <i class="fa-solid fa-magnifying-glass-plus"></i>
          </button>
          <button (click)="zoomOut()" class="btn btn-light" type="button">
            <i class="fa-solid fa-magnifying-glass-minus"></i>
          </button>
          <button (click)="resetZoom()" class="btn btn-light" type="button">
            <i class="fa-solid fa-repeat"></i>
          </button>
          @if(zoomLevel !== 1){
          {{ zoomLevel * 100 | number : "1.0-0" }}%
          }
        </div>
        <span class="col-3 text-center">
          @if (displayPageIndex == 0){
          {{ displayPageIndex + 1 }}
          }@else if (pages[displayPageIndex]) {
          {{ displayPageIndex }} - {{ displayPageIndex + 1 }}
          }@else{
          {{ displayPageIndex }}
          }/ {{ pages.length }}
        </span>
      </div>
        <button type="button" class="btn btn-light ms-1" (click)="next()">
          <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0,0,0,0.7)"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
/>
