
html, body {
  height: 100%;
  margin: 0;
}

body > app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ngx-spinner-overlay {
  position: absolute;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
