/* You can add global styles to this file, and also import other style files */
.ngx-spinner-overlay {
  position: absolute;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
